

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#game-off{
	margin: 0 auto;
	background: #bcdbff;
	border: 1px solid #000;
	width: 800px;
	height: 400px;
	position: relative;
	overflow: hidden;
}
#game-off > *{
	width: 800px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	overflow: hidden;
	/*transition: margin 0.2s linear;*/
}

	#gf-level3d{
		z-index: 10;
	}
	#gf-level{
		z-index: 20;
	}
	#gf-player{
		z-index: 30;
	}
	
	ul#gf-hud{
		z-index: 40;
		background: rgba(0,0,0, 0.4);
		height: auto;
		color: #fff;
		margin: 0;
		padding: 5px 10px;
		list-style: none;
	}
		ul#gf-hud li{
			float: left;
			margin-right: 50px;
		}